
@{
    ViewBag.Title = "Atrieflimmer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middleCenter">
    <h1>Vejle Sygehus</h1>
    <h2>Hjerteafdeling</h2>
    <img src="/Images/vejle.png" width="900" height="450" />
</div>

