
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middleCenter">
    <h1>@ViewBag.Header</h1>
    <p class="text">
        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Information));
    </p>
    <div class="clear"></div>
</div>
